<div id="header">
	<h1>Задачи</h1>
	<h1><%= link_to '+', '#', id: 'add_task' %></h1>
</div>

<div class="container-fluid">
	<div class="row">
		<% @projects.each do |project| %>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div id="project">
					<h5><%= project.title %></h5>
					<hr>
					<ul>
						<% @todos = project.todos.order(id: :asc).all %>
						<% @todos.each do |todo| %>
				  			<li>
				  				<%= form_for :todo, :html => {:id=>'form_todo'}, url: '/todo/' + todo.id.to_s + '/update', method: 'get' do |form| %>
				  					<% if todo.isCompleted == true then %>
					  					<input type="checkbox" checked>
					  				<% else %>
					  					<input type="checkbox">
					  				<% end %>
					  				<span><%= todo.text %></span>
					  			<% end %>
				  			</li>
				  			<br>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div style="visibility: hidden" id="new_task">
	<h5>НОВАЯ ЗАДАЧА</h5>
	<hr>
	<div>
		<%= form_for :task, :html => {:id=>'form_task'}, url: todo_create_path do |form| %>
		  	<p>
		    	<%= form.text_field :text, placeholder: 'Новая задача' %>
		  	</p>
		  		<%= form.select :project_id, @projects.map {|u| [u.title, u.id]}  %>
		  	<p>
		  		<%= link_to 'ОТМЕНА', '#', id: 'task_cancel' %>
		  		<%= link_to 'ОК', '#', id: 'task_ok', :onclick=>"document.getElementById('form_task').submit()" %>
		  	</p>
		<% end %>
	</div>
</div>